@import "_variable";

.btn-default() {
  color: @text-color !important;
  border: 1px solid @border-color !important;
  background: transparent !important;

  &:hover {
    color: @primary6-color !important;
    border: 1px solid @primary6-color !important;
    background: @primary0-color !important;
  }
}
