@import "_color";

// Color
@text-color: @grey7-color;
@text-secondary-color: @grey5-color;
@text-light-color: @grey8-color;
@title-color: @grey8-color;
@border-color: @grey4-color;
@background-color: @grey1-color;

@white-color: #ffffff;
@primary-color: @primary5-color;
@grey-color: @grey5-color;
@green-color: @primary5-color;
@yellow-color: @yellow5-color;
@red-color: @red5-color;
@gold-color: @gold5-color;
@blue-color: @blue5-color;

// Header
@header-background-color: @grey3-color;
@header-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);

// Footer
@footer-color: #fff;
@footer-background-color: @grey2-color;
@footer-border: 1px solid @grey5-color;

// Dropdown
@dropdown-background-color: @grey3-color;
@dropdown-shadow: 0 10px 32px 0 rgba(0, 0, 0, 0.54);
@dropdown-border: 1px solid @grey4-color;
@dropdown-radius: 3px;

// Card
@card-background-color: @grey3-color;
@card-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);

// Container
@container-border: 1px solid #000;

// Input
@input-active-border-color: #2b4d1a;
@input-background-color: #27272a;
@input-border: 1px solid #2b4d1a;
@input-border-color: #292a2a;

// Link
@link-color: #6cac4d;
@link-hover-color: #429f14;

// Table
@table-border-color: @border-color;
@table-hover-color: #474948;
@table-odd-color: #3b3d3c;

// Radius
@radius1: 3px;

// Selection
@selection-color: #fff;
@selection-background: #37474f;
