@import "_variable";

// Global
html,
body {
  color: @text-color !important;
  background: @background-color !important;
}

// Header
#noj-navbar {
  & > div {
    color: @title-color !important;
    background: @header-background-color !important;
    box-shadow: @header-shadow !important;
  }

  nav {
    li {
      color: @title-color !important;
    }
  }

  // Logo
  .css-1n67oxn-LightImg {
    display: none !important;
  }
  .css-56tabg-DarkImg {
    display: block !important;
  }

  // 下载应用
  a.css-tgtq8y-BaseButtonComponent-AppButton {
    color: @green-color !important;
    box-shadow: inset 0 0 0 1px @green-color !important;

    &:hover {
      color: @primary6-color !important;
      background: @primary0-color !important;
      box-shadow: inset 0 0 0 1px @primary6-color !important;
    }
  }
}

// Footer
#lc-footer {
  padding: 15px 0 !important;
  color: @footer-color !important;
  background: @footer-background-color !important;
  border-top: @footer-border !important;

  hr {
    display: none !important;
  }

  .row:first-of-type {
    margin-bottom: 10px !important;
    height: 38px !important;
  }

  .row.chinese-license a {
    color: @footer-color !important;
  }

  .copyright span {
    color: @footer-color !important;
  }

  .links a {
    color: @footer-color !important;
  }
}

// Selection
::selection {
  color: @selection-color !important;
  background: @selection-background !important;
}

// 右上角用户点击后弹窗
.popper-container
  > .css-1rezss4-Container-layer1-level3-DropdownPopperContainer {
  background: @dropdown-background-color !important;
  box-shadow: @dropdown-shadow !important;
  border: @dropdown-border !important;

  // 头部 VIP 区
  .css-1tlu1zr-Wrapper {
    // 用户名
    .css-8wgfkr-UserNameContainer {
      color: @yellow5-color !important;
    }

    // 会员剩余时长
    .css-hfz3b8-TimeRemainContainer {
      color: @yellow5-color !important;
    }

    svg {
      fill: @yellow5-color !important;
    }
  }

  // 链接区
  a {
    color: @text-color !important;

    svg {
      fill: @text-color !important;
    }
  }
}
