@-moz-document url-prefix("https://leetcode-cn.com/problemset/") {
  @import "less/common.less";

  // 问题区
  #question-app {
    // 顶部分类
    .category-group-base {
      & > span:first-child {
        color: @title-color !important;
      }

      .category-card-base {
        filter: brightness(0.8);

        .caret-base .simple-caret {
          &::before {
            border-bottom: 10px solid @grey7-color !important;
            border-right: 10px solid transparent !important;
            border-left: 10px solid transparent !important;
          }

          &::after {
            border-bottom: 9px solid @background-color !important;
            border-right: 9px solid transparent !important;
            border-left: 9px solid transparent !important;
          }
        }

        .close-btn {
          color: @white-color !important;
        }
      }

      hr.line {
        border-color: @grey7-color !important;
      }
    }

    .assess-bar {
      // 难度标签
      .label {
        &.label-primary {
          background: @blue-color !important;
        }

        &.label-success {
          background: @green-color !important;
        }

        &.label-warning {
          background: @yellow-color !important;
        }

        &.label-danger {
          background: @red-color !important;
        }
      }

      // 右侧按钮
      .pull-right a.btn {
        .btn-default();
      }
    }

    // 问题列表
    .question-list-base {
      // 分割线
      .separator-line {
        .separator-op {
          border-bottom: 1px solid @border-color !important;
          background: none !important;
        }

        .separator_left_mask {
          background: linear-gradient(
            to right,
            @background-color,
            rgba(255, 255, 255, 0)
          ) !important;
        }

        .separator_right_mask {
          background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0),
            @background-color
          ) !important;
        }
      }

      // 顶部搜索
      .search-bar-control {
        .list-search-bar {
          &::placeholder {
            color: @text-secondary-color !important;
          }

          &:focus {
            border: 1px solid @text-light-color !important;
          }

          color: @text-light-color !important;
          border: 1px solid @border-color !important;
          background-color: @background-color !important;
          box-shadow: none !important;
        }
      }

      // 筛选过滤器
      .pull-right {
        .filter-dropdown-button {
          .filter-title {
            color: @text-color !important;

            &:hover {
              color: @text-light-color !important;
            }
          }
        }

        .dropdown-menu {
          box-shadow: @dropdown-shadow !important;
          border: @dropdown-border !important;

          .filter-list {
            background: @dropdown-background-color !important;
          }

          .filter-dropdown-menu-items {
            background: @dropdown-background-color !important;

            .filter-dropdown-menu-item {
              border-color: @border-color !important;
            }
          }
        }
      }

      // 问题列表
      .question-list-table {
        thead {
          color: @text-light-color !important;
        }

        tbody.reactable-data tr {
          &:hover {
            background: @table-hover-color !important;
          }

          &:nth-child(2n + 1) {
            &:hover {
              background: @table-hover-color !important;
            }

            background: @table-odd-color !important;
          }

          td {
            .level-easy {
              color: @green-color !important;
            }

            .level-medium {
              color: @yellow-color !important;
            }

            .level-hard {
              color: @red-color !important;
            }

            .progress {
              background: @text-secondary-color !important;

              .progress-bar-success {
                background: @green-color !important;
              }

              .progress-bar-warning {
                background: @yellow-color !important;
              }
            }
          }
        }

        tbody.reactable-pagination {
          tr {
            background: @table-odd-color !important;
          }

          .row-selector select {
            color: @text-color !important;
            border: 1px solid @border-color !important;
            background: transparent !important;
          }

          .pagination-buttons {
            a {
              color: @text-color !important;
              border: 1px solid @border-color !important;
              background: @background-color !important;

              &.reactable-current-page {
                color: @grey0-color !important;
                border: 1px solid @primary-color !important;
                background: @primary-color !important;

                &:hover {
                  border: 1px solid @primary4-color !important;
                  background: @primary4-color !important;
                }
              }
            }
          }
        }
      }
    }
  }

  // 用户进度
  #user-progress-app {
    // 广告
    .wrapper__2b4L img {
      filter: brightness(0.8);
    }

    // 日历
    .css-96hr2l-CalendarWrapper {
      & > div:first-child {
        color: @title-color !important;
      }

      & > div:nth-child(2) > div > div:hover {
        background: @card-background-color !important;
      }

      & > div:last-child {
        color: @text-color !important;
        background: @card-background-color !important;

        span:nth-child(2) {
          color: @green-color !important;
        }

        span:last-child {
          color: @text-color !important;
        }
      }
    }

    // 进度
    .progress-module {
      // 标题
      .sidebar-title {
        color: @title-color !important;
      }

      // 筛选
      li.session-select {
        color: @text-color !important;
        background: @card-background-color !important;

        .session-manager-btn {
          button.dropdown-toggle {
            .btn-default();
          }

          ul.session-list {
            background: @dropdown-background-color !important;
            box-shadow: @dropdown-shadow !important;

            a {
              color: @text-color !important;

              &:hover {
                background: @grey4-color !important;
              }
            }
          }

          a.manage-btn {
            .btn-default();
          }
        }
      }

      // 图标展示
      li.chart-elem {
        background: @background-color !important;
        border: 1px solid @card-background-color !important;

        .progress-status {
          border-top: 1px dotted @border-color !important;

          .text-primary {
            color: @blue-color !important;
          }

          .text-success {
            color: @green-color !important;
          }

          .text-warning {
            color: @yellow-color !important;
          }
        }

        svg.highcharts-root {
          // tooltip
          g.highcharts-tooltip {
            & > path:last-of-type {
              fill: @background-color !important;
            }

            & > text:last-child {
              color: @text-color !important;
              fill: @text-color !important;
            }
          }

          // 返回按钮
          g.highcharts-button {
            &.highcharts-button-hover {
              rect {
                fill: @card-background-color !important;
              }

              text {
                color: @text-color !important;
                fill: @text-color !important;
              }
            }

            text {
              color: @text-color !important;
              fill: @text-color !important;
            }
          }
        }
      }

      // 积分信息
      li.points-info {
        background: @card-background-color !important;

        .info-value {
          color: @text-color !important;
        }

        .text-center:nth-child(n + 2) {
          border-left: 1px @border-color solid;
        }
      }
    }
  }

  // 热门推荐
  #list-card-app {
    .sidebar-title {
      color: @title-color !important;
    }

    .list-group-item {
      background: @background-color !important;

      &:hover {
        background: @card-background-color !important;
        box-shadow: @card-shadow !important;
      }

      a {
        color: @text-color !important;

        i.fa {
          filter: brightness(0.8);
        }
      }
    }

    hr.line {
      border-color: @grey7-color !important;
    }
  }

  // 标签模块
  #topic-module {
    .tags-title {
      color: @title-color !important;
    }

    #current-topic-tags,
    #all-topic-tags {
      a {
        .btn-default();

        &:hover {
          span.text-gray {
            color: @primary6-color !important;
          }
        }

        span.text-gray {
          color: @text-color !important;
        }

        span.badge {
          color: @text-light-color !important;
          background: @blue-color !important;
        }
      }
    }

    #expand-topic {
      hr.line {
        border-color: @grey7-color !important;
      }

      div.btn {
        .btn-default(@background-color);
      }
    }
  }

  // 企业题库
  #enterprise-tags {
    .css-msommy-Header {
      color: @title-color !important;
    }

    a {
      color: @text-color !important;
    }

    a[href="/interview/"] {
      color: @text-color !important;
      background: linear-gradient(
        rgba(0, 0, 0, 0),
        10%,
        @background-color
      ) !important;
    }
  }
}
